.Button {
  background-color: #141625c6;
  font-weight: bold;
  font-size: 14px;
  padding: 12px 16px;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  text-decoration: none;
  border: none;
}

.Button_POSITIVE {
  background-color: #7c5df9;
}

.Button_NEGATIVE {
  background-color: #ff2222;
}
